<link rel="apple-touch-icon" sizes="180x180" href="/pink/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/pink/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/pink/favicon-16x16.png">
<link rel="manifest" href="/pink/site.webmanifest">
<link rel="mask-icon" href="/pink/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/pink/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/pink/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
